html, body {
        --shade: #000; /* #000 or black */
        --default_gray: #c9c9c9; /* #c9c9c9 */
        --tint: #FFF; /* #FFF or white */
        --color3: #45d16a; /* #45d16a GNB green */
        --color1: color-mix(in srgb, var(--color3), var(--tint));
        --color2: color-mix(in srgb, var(--color3), var(--shade));
        background: linear-gradient(var(--color1), var(--color2));
        background-color: var(--color1);
        font-family: 'Times New Roman', Times, serif;
        color: var(--shade);
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: auto;
    }

    input {
            border-radius: 5px;
            background-color: var(--tint);
            color: var(--shade);
            border-color: var(--shade);
        }
    input:hover {
            background-color: var(--default_gray);
        }
    button {
            border-radius: 5px;
            border-color: var(--shade);
            background-color: var(--tint);
            color: var(--shade);
        }
    button:hover {
            background-color: var(--default_gray);
        }
    select {
            border-radius: 5px;
            border-color: var(--shade);
            background-color: var(--tint);
        }
    select:hover {
            background-color: var(--default_gray)
        }
    
    select:open {
        background-color: var(--tint);
        border-radius: 5px;
        border-color: var(--shade);
        
    }

.box {
            position: relative;
            top: calc(20% - 70px);
            left: calc(50% - 300px);
            width: 600px;
            padding: 5px;
            margin: 5px;
            margin-top: 30px;
            background-color: var(--color3);
            box-shadow: 3px 3px var(--color2);
            border: 2px #000;
            border-radius: 15px;
        }

    .box h1 {
            text-align: center;
            font-size: 60px;
            color: var(--shade);
            text-decoration: 4px double underline var(--shade);
            
        }

        .box h2 {
              text-align: center;
              font-size: 20px;
              color: var(--shade);
            }

        .box p {
              text-align: center;
              font-size: 40px;
              color: var(--shade);
              text-decoration: 2px underline var(--shade);
            }


    .flex {
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
.homer {
    position: relative;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    background-color: var(--color3);
    box-shadow: 3px 3px var(--color2);
    border: 2px var(--shade);
    border-radius: 15px;
}
