html, body {
        --color3: #45d16a;
        --color1: color-mix(in srgb, var(--color3), white);
        --color2: color-mix(in srgb, var(--color3), black);
        background: linear-gradient(var(--color1), var(--color2));
        background-color: color1;
        font-family: 'Times New Roman', Times, serif;
        color: #000;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: auto;
    }

    input {
            border-radius: 5px;
        }
    input:hover {
            background-color: #c9c9c9;
        }
    button {
            border-radius: 5px;
        }
    button:hover {
            background-color: #c9c9c9;
        }
    select {
            border-radius: 5px;
        }
    select:hover {
            background-color: #c9c9c9;
        }
    
    select:open {
        background-color: #fff;
        border-radius: 5px;
        border-color: #000;
        
    }

.box {
            position: relative;
            top: calc(20% - 70px);
            left: calc(50% - 300px);
            width: 600px;
            padding: 5px;
            margin: 5px;
            margin-top: 30px;
            background-color: var(--color3);
            box-shadow: 3px 3px var(--color2);
            border: 2px #000;
            border-radius: 15px;
        }

    .box h1 {
            text-align: center;
            font-size: 60px;
            color: #000;
            text-decoration: 4px double underline #000;
            
        }

        .box h2 {
              text-align: center;
              font-size: 20px;
              color: #000;
            }

        .box p {
              text-align: center;
              font-size: 40px;
              color: #000;
              text-decoration: 2px underline #000;
            }


    .flex {
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
