<!-- error.html -->
<!-- Hi friends! -->

<!DOCTYPE html>
<html>
  <head>
    <title>Glorbenian Bank</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/assets/gnbfav.png">
  </head>


<style>

        .forme {
              text-align: center;
              font-size: 30px;
              color: #000;
              border: 2px solid #24853e;
              border-radius: 15px;
            }

</style>
<body onload=errorcheck()><script src="../static/javascript_snippets_uwu/clock.js"></script>
  <!-- figure out how to make the buttons variable lenght! -->
  <div class="box" id="box">
    <h1>GLORBENIAN NATIONAL BANK</h1>
    <p>There has been an error!</p>
    <h2 id="heading2"></h2>
    <h3 id="heading3"></h3>
    <!-- Figure out how to make error.html go to the HOMEREDIRECT as specified in app.py-->
    <form id="buton" style="display:flex;justify-content:center;align-items:center;" action="/"  method="POST">
      <input type="hidden" id="username" name="username" value=""/>
      <input type="hidden" id="password" name="password" value=""/>
      <input type="hidden" id="national" name="national" value=""/>
      <input type="hidden" id="email" name="email" value=""/>
      <button type="submit" style="font-size:40px;font-family:'Courier New', Courier, monospace;">To home</button>
    </form>
  </div>
  <script>

  function errorcheck() {
    const error = "{{ error }}";
    const redirect = "{{ redirect }}";
    const info = {{ info | tojson }};
    if (error != "") {
        document.getElementById("heading2").innerHTML = error
    };
    document.getElementById("buton").action = redirect;
    if (info.length >= 3) {
      document.getElementById("username").value = info[0];
      document.getElementById("password").value = info[1];
      document.getElementById("national").value = info[2];
      document.getElementById("heading3").innerHTML = info;
    };
  };
  </script>
</body>
  </html>
