<!-- home.html -->
<!--

░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░██████╗░██╗░░░░░░█████╗░██████╗░██████╗░░█████╗░███╗░░██╗██╗░░██╗░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░██████╗░░░░░░██████╗░░░░░░██████╗██╔════╝░██║░░░░░██╔══██╗██╔══██╗██╔══██╗██╔══██╗████╗░██║██║░██╔╝██████╗░░░░░░██████╗░░░░░░
█████╗╚═════╝█████╗╚═════╝█████╗╚═════╝██║░░██╗░██║░░░░░██║░░██║██████╔╝██████╦╝███████║██╔██╗██║█████═╝░╚═════╝█████╗╚═════╝█████╗
╚════╝██████╗╚════╝██████╗╚════╝██████╗██║░░╚██╗██║░░░░░██║░░██║██╔══██╗██╔══██╗██╔══██║██║╚████║██╔═██╗░██████╗╚════╝██████╗╚════╝
░░░░░░╚═════╝░░░░░░╚═════╝░░░░░░╚═════╝╚██████╔╝███████╗╚█████╔╝██║░░██║██████╦╝██║░░██║██║░╚███║██║░╚██╗╚═════╝░░░░░░╚═════╝░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╚═════╝░╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═╝░░╚═╝╚═╝░░╚══╝╚═╝░░╚═╝░░░░░░░░░░░░░░░░░░░░░░░░░░
Check out this cool ASCII art I found!
-->

<!-- this file really should be refactored -->

<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <link rel="icon" type="image/png" href="../static/assets/gnbfav.png"> <!-- add this for the other pages as well!-->
  </head>
<style>

    .registration {
          position: relative;
          top: calc(20% - 70px);
          left: calc(50% - 300px);
          width: 50px;
          padding: 5px;
          margin: 5px;
          background-color: var(--color3);
          box-shadow: 3px 3px var(--color2);
          border: 2px #000;
          border-radius: 15px;
        }

        .forme {
              text-align: center;
              font-size: 30px;
              color: #000;
              border: 2px solid var(--color2);
              border-radius: 15px;
        }
</style>
<body id="body" onload=run()><script src="../static/style/clock.js"></script>
  <!-- figure out how to make the buttons variable lenght! -->
  <div style="display:flex;position:relative;top:calc(20% - 70px);">
    <div class="registration" style="width:70px;">
      <form action="/register">
        <input type="submit" value="Register"/>
      </form>
    </div>
    <div class="registration" style="width:145px;">
      <form action="/login/organization">
        <input type="submit" value="Log in (Organization)"/>
      </form>
    </div>
  </div>
  <div class="box" id="box">
    <h1>GLORBENIAN NATIONAL BANK</h1>
    <p>Log In (Personal Account)</p>
    <h2 id="heading2"></h2>
    <form id="login_form" class="forme" action="/login" method="POST" onclick='returntonormal()'>
      Username: <input type="text" name="username" id='usernamething' required><br>
      Password: <input type="password" name="password" id='passwordthing' required><br>
      National ID: <input type="password" name="national" id='nationalid' required><br>
      <button type="submit">Log in :3</button>
    </form>
  </div>

  <script>
    function generateRandomHexColor() {
  const randomColor = Math.floor(Math.random() * 0xFFFFFF).toString(16);
  return `#${randomColor.padStart(6, '0')}`;
}

  function errorcheck() {
    const incorrect_password = "{{ incorrect_password }}";
    const error = "{{ error }}";
    const info = {{ info | tojson }}; /*I wish Jsonify didn't cause this error it bugs me so much! */
    if (info.length >= 3) {
      document.getElementById('usernamething').value = info[0];
      document.getElementById('passwordthing').value = info[1];
      document.getElementById('nationalid').value = info[2];
    };
    console.log(incorrect_password);
    console.log(error);
    if (error.length > 0) {
      document.getElementById("heading2").textContent = error.toString();
      document.getElementById('usernamething').style.borderColor = "red";
      document.getElementById('passwordthing').style.borderColor = "red";
      document.getElementById('nationalid').style.borderColor = "red";

      document.getElementById("usernamething").value = info[0];
      document.getElementById("passwordthing").value = info[1];
      document.getElementById("nationalid").value = info[2];
    };
  };

  function returntonormal() {
    document.getElementById('usernamething').style.borderColor = "black";
    document.getElementById('passwordthing').style.borderColor = "black";
    document.getElementById('nationalid').style.borderColor = "black";
    document.getElementById("heading2").innerHTML = "";

    document.getElementById("usernamething").value = info[0];
    document.getElementById("passwordthing").value = info[1];
    document.getElementById("nationalid").value = info[2];
  };
  function run() {
    document.getElementById("body").style = `--color3:${generateRandomHexColor()};`;
    errorCheck();
  };
  </script>
</body>
