<!-- indexi.html -->


<!DOCTYPE html>
<html>
        <head>
                <title>Glorbenian Bank</title>
                <meta charset="UTF-8">
                <link rel="stylesheet" type="text/css" href="../static/style/style.css">
        </head>
<style>

    .registration {
          position: relative;
          top: calc(20% - 70px);
          left: calc(50% - 300px);
          padding: 5px;
          margin: 5px;
          background-color: #45d16a;
          box-shadow: 3px 3px #24853e;
          border: 2px #000;
          border-radius: 15px;
        }
    .homer {
        position: relative;
        top: calc(20% - 70px);
        left: calc(50% - 300px);
        padding: 5px;
        margin: 5px;
        background-color: #45d16a;
        box-shadow: 3px 3px #24853e;
        border: 2px #000;
        border-radius: 15px;
        }
        .bank-info {
            text-align: left;
            padding: 5px;
            font-size: 10px;
            color: #000;
            border-radius: 15px;
            border: 2px solid #24853e;
        }

</style>
<!-- SCHOOL-BASED ERROR DETECTION!! (can't inspect elements at school)-->
<!-- I'm gonna fucking dieEEEE -->
<div id="screamo"></div>
<script>
    let whimper = document.createElement("h"); whimper.setAttribute("innerText", "Nothing yet. This is good!");
    document.getElementById("screamo").appendChild(whimper);
    let error_counter = 0;

    /* fix fix fix! */
    function returnError(e) {
        try {
            let error = document.createElement("h");
            error.id = `E${error_counter++}`;
            error.textContent = e;
        } catch (error) {
            
        }
    }
</script>


<!-- MIGHT WANNA USE THIS ON ALL FILES -->
<script>
    function byId(id) {
        try {
            let g = document.getElementBy(id);
        } catch (error) {
            let g = none;
            console.error(`Error in byId("${id}"): ${error.message}`)
        }
        return g;
    }
    function byIds(id) {
        return document.querySelectorAll(`[id=${id}]`)
    }
</script>
<script>
    const adming = {{ adming }};
    const useracc = {{ useracc | tojson}};
    const bankacc = {{bankacc|tojson}};

    function isNumeric(value) {
        return Number.isFinite(Number(value)) && !Number.isNaN(Number(value));
    }

    function createSig() {
        document.getElementById("username_sig").value = useracc[1];
        document.getElementById("pass_sig").value = useracc[2];
        document.getElementById("natid_sig").value = useracc[7];
    }

    function signature(element) {
        document.getElementById(element).innerHTML = signature.innerHTML;
    }
</script>

<div class="signature" id="signature" onload="createSig()">
    <input type="hidden" id="username_sig" name="username"/>
    <input type="hidden" id="pass_sig" name="password"/>
    <input type="hidden" id="natid_sig" name="national"/>
</div>
<body onload="Adming()"> 
    <div id="clock-display" style="position:absolute;font-size:10px;text-align:left;text-decoration:0px;"></div>
    <div id="button_container" style="position:relative; display:flex; top:calc(20% - 70px);">
        <div class="homer">
            <form action="/login">
                <input type="submit" value="Go to Login"/>
            </form>
        </div>
    </div>
    <div class="box" id="box">
    <h1>GLORBENIAN NATIONAL BANK</h1>
    <p id="welcome">Welcome, </p>
    <p>REMEMBER TO ADD STUFF FOR PARTS AND CREDIT!!!!</p>
    <div class="bank-info">
        <label for="balance_box" style="font-size:30px;font-family:Arial, Helvetica, sans-serif;text-decoration: underline;">Balance:</label><br>
        <div class="bank-info"id="balance_box" style="display:inline-block;">
            <div style="display:flex;justify-content: center;align-items:center;">
                <label for="bank_balance_woolong" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;">Woolong:</label>
                <div id="bank_balance_woolong" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;margin:5px;"></div>
            </div>
            <br>
            <div style="display:flex;align-items:center;">
                <label for="bank_balance_parts" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;">Parts:</label>
                <div id="bank_balance_parts" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;margin:5px;"></div>
            </div>
            <br>
            <div style="display:flex;align-items:center;">
                <label for="bank_balance_credit" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;">Credit:</label>
                <div id="bank_balance_credit" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;margin:5px;"></div>
            </div>
        </div>
    </div>
    <div class="transactioner">
        <label for="gay">Send Woolong</label>
        <div id="gay">
            <script>
                /* my magnum opus owo nyaaaa*/
                function check(num_woolong, account_to_transfer) {
                    if (num_woolong>bankacc[1]||num_woolong==""||num_woolong<=0||!isNumeric(num_woolong)) {
                        document.getElementById("guh").disabled = true;
                        document.getElementById("uhohhh").innerText = "Please enter a valid number of Woolong to transfer.";
                    }
                    if (!isNumeric(account_to_transfer)||account_to_transfer=="") {
                        document.getElementById()
                    }
                    else {
                        document.getElementById("guh").disabled = false;
                        document.getElementById("uhohhh").innerText = "";
                    }
                }
                function checke(val) {
                    if (!isNumeric(val)||val=="") {
                        document.getElementById("guh").disabled = true;
                        if (!isNumeric(val)) {
                            document.getElementById("uhohhh").innerText = "Account IDs must be numeric.";
                        }
                    }
                }
            </script>
            <form id="hehehe" action="/accountpage/sendmoney" method="POST">
                <h id="uhohhh" style="font-size:10px;"></h><h id="accuhohhh" style="font-size:10px;"></h><br>
                <input type="text" onkeyup="check(document.getElementById('num_woolong').value)" id="num_woolong" name="num_woolong" placeholder="Enter the number of woolong you would like to transfer"/>
                <br><input type="text" onkeyup="checke(document.getElementById('guhhhh').value)"id="guhhhh" name="account_to_transfer" placeholder="Enter the account ID you would likee to transfer to"/>
                <div id="signature1" onload="signature1"></div>
                <button type="submit" id="guh" disabled>Send Woolong</button>
            </form>
        </div>
    </div>
  </div>
</body>
<script>
    function updateClock() {
    const now = new Date();
    const formattedTime = now.toLocaleTimeString('en-US', {
      hour: 'numeric',
      minute: 'numeric',
      second: 'numeric',
      hour12: false
    });
    const formattedDate = now.toLocaleDateString('en-US', {
      weekday: 'long',
      year: 'numeric',
      month: 'long',
      day: 'numeric'
    });

    document.getElementById('clock-display').innerText = `${formattedDate} ${formattedTime}`;
  };

    function Adming() {
        setInterval(updateClock, 1000);
        document.getElementById("welcome").textContent = `Welcome, ${useracc[1]}`;
        document.getElementById("bank_balance_woolong").textContent = `${bankacc[1]}`;
        document.get
        document.getElementById("bank_balance_parts").textContent = `${bankacc[2]}`;
        document.getElementById("bank_balance_credit").textContent = `${bankacc[3]}`;
        if (adming > 0) {
            const Link = document.createElement("div");
            Link.className = "registration";
            Link.innerHTML = `<form action="/accountpage/adminpanel" method="POST">
        <input type="hidden" name="username" value="${useracc[1]}"/>
        <input type="hidden" name="admin_capabilities" value="${useracc[4]}"/>
        <input type="submit" value="Admin Panel"/>
        </form>`;
            const parentElement = document.getElementById("button_container");
            parentElement.appendChild(Link);
        };
        if (adming > 2) {
            const Link = document.createElement("div");
            Link.className = "registration";
            Link.innerHTML = `<form action="/accountpage/reports" method="POST">
        <input type="hidden" name="username" value="${useracc[1]}"/>
        <input type="hidden" name="admin_capabilities" value="${useracc[4]}"/>
        <input type="submit" value="Reports"/>
        </form>`;
            const parentElement = document.getElementById("button_container");
            parentElement.appendChild(Link);
        };
        if (adming > 5) {
            const Link = document.createElement("div");
            Link.className = "registration";
            Link.innerHTML = `<form action="/accountpage/pending_organizations" method="POST">
        <input type="hidden" name="username" value="${useracc[1]}"/>
        <input type="hidden" name="admin_capabilities" value="${useracc[4]}"/>
        <input type="submit" value="Pending Organizations"/>
        </form>`;
            const parentElement = document.getElementById("button_container");
            parentElement.appendChild(Link);

            Link.className = "registration";
            Link.innerHTML = `<form action="/accountpage/datasheets" method="POST">
        <input type="hidden" name="datasheet" value="User"/>
        <input type="hidden" name="admin_user" value="${useracc}"/>
        <input type="submit" value="Datasheets (User)"/>
        </form>`;
            parentElement.appendChild(Link);
        };
    };
</script>
