<!-- indexi.html -->


<!DOCTYPE html>
<html>
        <head>
                <title>Glorbenian Bank</title>
                <meta charset="UTF-8">
                <link rel="stylesheet" type="text/css" href="../static/style/style.css">
                <link rel="icon" type="image/png" href="">
        </head>
<style>
    .box {
        width:900px;
        left: calc(50% - 450px);
    }
    .registration {
          position: relative;
          top: calc(20% - 70px);
          left: calc(50% - 300px);
          padding: 5px;
          margin: 5px;
          background-color: #45d16a;
          box-shadow: 3px 3px #24853e;
          border: 2px #000;
          border-radius: 15px;
        }
    .homer {
        position: relative;
        top: calc(20% - 70px);
        left: calc(50% - 300px);
        padding: 5px;
        margin: 5px;
        background-color: #45d16a;
        box-shadow: 3px 3px #24853e;
        border: 2px #000;
        border-radius: 15px;
        }
        .bank-info {
            text-align: left;
            padding: 5px;
            font-size: 10px;
            color: #000;
            border-radius: 15px;
            border: 2px solid #24853e;
        }
    .silly-boy {
        width:400px;
        font-size:15px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .silliest-billy {
        font-size:20px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    
    .mail {
        position: absolute;
        top: calc(20% - 70px);
        left: calc(50% + 625px);
        text-align:center;
        width: 300px;
        height: 600px;
        margin: 5px;
        background-color: #45d16a;
        box-shadow: 3px 3px #24853e;
        border: 2px #000;
        border-radius: 15px;
    }

    .mail_box {
        width:235px;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 15px;
        padding:10px;
        margin:5px;
        padding-top:0px;
        text-align:left;
    }

</style>

<script>
    const adming = {{ adming }};
    const useracc = {{ useracc | tojson}};
    const bankacc = {{bankacc|tojson}};
    const sus = {{sus}};
    let mail_unread = [];
    function JR(json_thing) {
        return JSON.stringyify(json_thing, null, 2);
    };
    function DiggyWillGetYourMail() {
        const postData = { "useraccount": useracc};
        fetch('/usermail', {
            method: 'POST',
            headers: {'Content-Type': 'application/json',},
            body: JSON.stringify(postData),})
        .then(response => response.json())
        .then(data => {
            console.log('POST response:', data);
            mail_unread = data.response;})
            document.getElementById("gooner2").textContent = data.response;
            // we gotta fix this
    };
    DiggyWillGetYourMail();

    function isNumeric(value) {
        return Number.isFinite(Number(value)) && !Number.isNaN(Number(value));
    }
</script>
<body onload="Adming()"><script src="../static/style/clock.js"></script>
    <h id="gooner2"></h>

    <!-- BUTTON CONTAINER -->
    <div id="button_container" style="position:relative; display:flex; top:calc(20% - 70px);left: calc(50% - 1100px);">
        <div class="homer">
            <form action="/login" method="POST">
                <input type="submit" value="Go to Login"/>
            </form>
        </div>
    </div>

    <!-- SILLY BILLY THING FOR FETCH
    <script>
    function Diggy() {
        const postData = { name: 'Alice', age: 30 };
        fetch('/usermail', {
            method: 'POST',
            headers: {'Content-Type': 'application/json',},
            body: JSON.stringify(postData),})
        .then(response => response.json())
        .then(data => {
            console.log('POST response:', data);
            document.getElementById("gooner2").innerText = data.response;})
    };
    </script>
    <div>
        <h id="gooner2">Hi</h>
        <div class="homer" style="width:fit-content">
            <button id="silly_button" onclick="Diggy()">Click me!</button>
        </div>
    </div>
     -->

    <!-- MAIL -->
    <div class="mail">
        <h1 style="font-size:20px;border:3px solid #24853e;margin:10px;border-radius:5px;">Youwr mail, my pwince...&#129402</h1>
        <div class="mail" id="mail_list" style="background-color:#24853e;top:calc(20% - 20px);left:5px;width:280px;height:485px;overflow-x:hidden;overflow-y:scroll;">

        </div>
    </div>


    <!-- MAIN BOX -->
    <div class="box" id="box">
    <h1>GLORBENIAN NATIONAL BANK</h1>
    <p id="welcome">Welcome, </p>
    <p>REMEMBER TO ADD STUFF FOR PARTS AND CREDIT!!!!</p>
    <div class="bank-info">
        <label for="balance_box" style="font-size:30px;font-family:Arial, Helvetica, sans-serif;text-decoration: underline;">Balance:</label><br>
        <div class="bank-info"id="balance_box" style="display:inline-block;">
            <div style="display:flex;justify-content: center;align-items:center;">
                <label for="bank_balance_woolong" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;">Woolong:</label>
                <div id="bank_balance_woolong" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;margin:5px;"></div>
            </div>
            <br>
            <div style="display:flex;align-items:center;">
                <label for="bank_balance_parts" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;">Parts:</label>
                <div id="bank_balance_parts" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;margin:5px;"></div>
            </div>
            <br>
            <div style="display:flex;align-items:center;">
                <label for="bank_balance_credit" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;">Credit:</label>
                <div id="bank_balance_credit" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;margin:5px;"></div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="bank-info">
        <label for="gay" style="font-size:30px;font-family:Arial, Helvetica, sans-serif;text-decoration: underline;">Send Woolong</label>
        <div id="gay" class="bank-info">
            <script>
                    let total_money = bankacc[1];
                    /* fix ts */
                    function validateTransaction() {
                        let value = document.getElementById("num_woolong").value
                        let acc_to = document.getElementById("guhhhh").value;
                        document.getElementById("uhohhh").innerText = "";
                        document.getElementById("guh").disabled = true;
                        if (!isNumeric(value)) {
                            document.getElementById("guh").disabled = true;
                            document.getElementById("uhohhh").innerText = "Please enter a numeric number of Woolong.";
                        }
                        else if (!isNumeric(acc_to)) {
                            document.getElementById("guh").disabled = true; 
                            document.getElementById("uhohhh").innerText = "Please enter a numeric account ID.";
                        }
                        else if (value>total_money||value<0) {
                            document.getElementById("guh").disabled = true; 
                            document.getElementById("uhohhh").innerText = "Please enter a valid number of Woolong.";
                        }
                        else if (acc_to==useracc[0]) {
                            document.getElementById("guh").disabled = true; 
                            document.getElementById("uhohhh").innerText = "This is your account ID. You cannot send money to yourself!";
                        }
                        else if (value!=""&&acc_to!=""&&document.getElementById("nationalid").value==useracc[7]) {
                            if (value >= sus) {
                                document.getElementById("uhohhh").innerText = "You are transfering a large amount of Woolong. Due to this, a banker will have to manually confirm the transaction.";
                            } else {
                                document.getElementById("uhohhh").innerText = "Good job UwU Nya~! Have fun transfering thos woolong :3";
                            };
                            document.getElementById("guh").disabled = false;}
                    };
                    function subtractMoney() {
                            total_money -= parseInt(document.getElementById("num_woolong").value);
                    };
                </script>
            <form id="hehehe" action="/accountpage/sendmoney" method="POST">
                
                <h id="uhohhh" class="silliest-billy"></h><br><br><br>
                <input type="text" class="silly-boy" id="num_woolong" name="num_woolong" onkeyup="validateTransaction()" placeholder="Enter the number of woolong you would like to transfer"/>
                <br><br><input type="text" class="silly-boy" id="guhhhh" name="account_to_transfer" onkeyup="validateTransaction()" placeholder="Enter the account ID you would likee to transfer to"/>
                <br><br><input type="text" class="silly-boy" id="nationalid" name="nationalid" onkeyup="validateTransaction()" placeholder="Enter your national id"/>
                <br><br><input type="hidden" id="user" name="user"/>
                <br><br><button onclick="subtractMoney()" type="submit" style="font-size:20px;font-family:Arial, Helvetica, sans-serif;" id="guh" disabled>Send Woolong</button>
            </form>
        </div>
    </div>
    </div>
</body>
<script id="for mail :3">
    let ind = 0;
    function delMes(msgid) {
        document.getElementById(msgid).style.display = "none";
    }
    function add_mail_box(stufftitle, stuffinfo, stuffre) {
        // finish dis
        let mail_box = document.createElement("div");
        mail_box.className = "mail_box";
        mail_box.id = `MAILBOX${ind}`;
        
        let message_title = document.createElement("b");
        message_title.innerText = stufftitle;
        message_title.style = "font-size:20px;text-decoration:underline;"
        mail_box.appendChild(message_title);


        let message_info = document.createElement("p");
        message_info.innerText = stuffinfo;
        mail_box.appendChild(message_info);


        let message_contact = document.createElement("p");
        message_contact.style = "font-size:10px;text-align:right;"
        message_contact.innerText = stuffre;
        mail_box.appendChild(message_contact);
        
        /*
        document.getElementById("mail_list").appendChild(mail_box);

        let message_delete_botton = document.createElement("button");
        message_delete_button.textContent = "Delete";
        message_delete_button.onclick = `delMes(MAILBOX${ind})`;
        mail_box.appendChild(message_delete_button);
        
        fix this please
        */
        ind += 1;
    }
    let guh = 0;
    for (const stuff of mail_unread) {
        if (guh < 100) {
            add_mail_box(stuff[0], stuff[1], stuff[2]);
        }
    }
</script>
<script>
    function Adming() {
        setInterval(updateClock, 1000);
        document.getElementById("welcome").textContent = `Welcome, ${useracc[1]} :3`;
        document.getElementById("welcome").textContent = mail_unread;
        document.getElementById("bank_balance_woolong").textContent = `${bankacc[1]}`;
        document.getElementById("user").value = `${useracc[7]}`;
        document.getElementById("bank_balance_parts").textContent = `${bankacc[2]}`;
        document.getElementById("bank_balance_credit").textContent = `${bankacc[3]}`;
        if (adming > 1) {
            const Link = document.createElement("div");
            Link.className = "registration";
            const parentElement = document.getElementById("button_container");

            Link.className = "registration";
            Link.innerHTML = `<form action="/accountpage/datasheets" method="POST">
        <input type="hidden" name="datasheet" value="User"/>
        <input type="hidden" name="admin_user" value="${useracc}"/>
        <input type="submit" value="Datasheets)"/>
        </form>`;
            parentElement.appendChild(Link);
        };
    };
</script>
